// procman variables
procman {
    monitoring_period_ms = 1000;
}
// default process settings
:proc {
    procman_process  = true;
    group            = "Unknown";
    host             = "localhost";
    auto-start       = true;
    auto-restart     = true;
    restart-delay-ms = 10000;
}
////////////////////////////////////////////////////////////
:procGroupBase : proc { group = "Base"; }
LCMMesh : procGroupBase {
    cmd = "echo lcm-mesh -n $ROBOT_ID -g $GROUNDSTATION_IP && lcm-mesh -n $ROBOT_ID -g $GROUNDSTATION_IP";
}
MeshStatsBridge : procGroupBase {
    cmd = "mesh-stats-bridge -g $GROUNDSTATION_IP";
}
SAMA5Driver : procGroupBase {
    cmd = "sama5driver -d /dev/magic2-console";
}
JoypadDrive : procGroupBase {
    cmd = "magic-joypad-drive";
}
LcmSpy : procGroupBase {
    cmd = "lcm-spy-web  $MAGIC2/lcmtypes/";
}
HomePage : procGroupBase {
    cmd = "homepage";
}
ATSRespond : procGroupBase {
    cmd = "ats-respond";
}
////////////////////////////////////////////////////////////
:procGroupDebug : proc { group = "Debug"; }
LEDDaemon : procGroupDebug {
    cmd = "led-daemon";
}
// ESpeakDaemon : procGroupDebug {
//     cmd = "espeak-daemon -c $MAGIC2/config/robot-concat.config";
// }
ProcWebSpy : procGroupDebug {
    cmd = "procman-spy-web";
}

AlarmMonitorApril2 : procGroupDebug {
    cmd = "alarm-monitor -c $MAGIC2/config/robot-concat.config";
}

AlarmMonitorMagic2 : procGroupDebug {
    cmd = "alarm-monitor-magic2";
}

////////////////////////////////////////////////////////////
:procGroupLogging : proc { group = "Logging"; }
LCMLogger : procGroupLogging {
    auto-start = false;
    cmd = "robot_logging.sh -c IMAGE --invert-channels --increment";
}

LogManager : procGroupLogging {
    cmd = "log-manager";
}

LoggingButton : procGroupLogging {
    cmd = "robot-status-gui";
}

////////////////////////////////////////////////////////////
:procGroupControl : proc { group = "Control"; }
// RobotDrive : procGroupControl {
//     cmd = "robot-drive --id $ROBOT_ID";
// }
RobotStatus : procGroupControl {
    cmd = "robot-status";
}
////////////////////////////////////////////////////////////
:procGroupSensors : proc { group = "Sensors"; }

// BeaconDriver : procGroupSensors {
//     auto-start = false;
//     cmd = "beacon-driver --do-tx-mesh";
// }
// BeaconObs : procGroupSensors {
//     cmd = "beacon-observer";
// }
OdometryData : procGroupSensors {
    cmd = "odometry";
}
// VelodyneViewer : procGroupSensors {
//     auto-start = false;
//     cmd = "velodyne-viewer";
// }
// VelodyneDriver : procGroupSensors {
//     cmd = "velodyne-driver 10.0.$ROBOT_ID.3:VELODYNE_DATA:VELODYNE_POSE";
// }
// VelodyneToMap : procGroupSensors {
//     cmd = "velodyne-to-map";
// }
// VelodynePing: procGroupSensors {
//     cmd = "ping 10.0.$ROBOT_ID.3 -q";
// }

CameraDriver : procGroupSensors {
    cmd = "lcm-camera-driver v4l2:///dev/video0";//pgusb://?format=BAYER_GBRG&white-balance-mode=2&white-balance-ub=450&white-balance-vr=700&frame-rate-mode=2&frame-rate=5";
}

ImageViewer : procGroupSensors {
    cmd = "image-viewer";
}

////////////////////////////////////////////////////////////
:procGroupCamera : proc { group = "Camera"; }
// ThumbnailPublisher : procGroupCamera {
//     cmd = "thumbnail-publisher -t THUMB --quality 3 --max-fps 2.1";
// }
// ThumbnailPublisher-HighQuality : procGroupCamera {
//     cmd = "thumbnail-publisher -t THUMB_HQ --quality 15 --max-fps 1.1";
// }
// ThumbnailForwarder : procGroupCamera {
//     cmd = "forward-thumbs --rate 1";
// }
TagDetector : procGroupCamera {
    auto-start = true;
    cmd = "tag-detector --max-fps 5";
}
// TagObserver : procGroupCamera {
//     auto-start = false;
//     cmd = "tag-observer -k aprilCameraCalibration.cameraUP --max-robot-id 7";
// }
