
// procman variables
procman {
    monitoring_period_ms = 1000;
}

// default process settings
:proc {
    procman_process  = true;
    group            = "Unknown";
    host             = "localhost";
    auto-start       = true;
    auto-restart     = true;
    restart-delay-ms = 1000;
}

:procGroupSensors : proc { group = "Sensors"; }
VelodyneViewer : procGroupSensors {
    auto-start = false;
    cmd = "velodyne-viewer";
}
// VelodyneToGridMap : procGroupSensors {
//     cmd = "velodyne-to-gridmap";
// }
VelodyneToMap : procGroupSensors {
    auto-start = false;
    cmd = "velodyne-to-map";
}

////////////////////////////////////////////////////////////
:procGroupGround : proc { group = "Ground Station"; }
LCMMesh : procGroupGround {
    //auto-start = false;
    cmd = "lcm-mesh -n 1 -g 127.0.0.1";
}
MeshStatsBridge : procGroupGround {
    auto-start = false;
    cmd = "mesh-stats-bridge";
}

LCMLogger : procGroupGround {
    auto-start = false;
//    cmd = "lcm-logger -i -s /var/tmp/lcmlog_%Y-%m-%d_%H-%M-%S";
    cmd = "$MAGIC2/scripts/gnd_logging.sh";
}
//TaskGUI : procGroupGround {
//    cmd = "taskgui";
//}
HomePage : procGroupGround {
    cmd = "homepage";
}

SlamGUI : procGroupGround {
    cmd = "slamgui";
}

// BeaconGUI : procGroupGround {
//     auto-start = false;
//     cmd = "beacongui";
// }

ErrorGUI : procGroupGround {
    auto-start = true;
    cmd = "errorgui";
}

//LCM_forward : procGroupGround {
//    cmd = "./bin/lcm_bridge_recv -c FORWARD_IMAGE";
//}

ProcSpy : procGroupGround {
    cmd = "procman-spy-web";
}

Spy : procGroupGround {
    cmd = "lcm-spy-web $LCMTYPES";
}

// ATS5 : procGroupGround {
//     cmd = "ats-send -a 10.0.5.1 -c ATS_5 -p 7905";
// }
// ATS7 : procGroupGround {
//     cmd = "ats-send -a 10.0.7.1 -c ATS_7 -p 7907";
// }
// ATS14 : procGroupGround {
//     cmd = "ats-send -a 10.0.14.1 -c ATS_14 -p 7914";
// }

LEDSync : procGroupGround {
    cmd = "led-sync";
}
