// BEGIN PER-ROBOT SECTION /////////////////////////////////////////////////////////////
velodyne {
    xyz_m   = [-0.13, 0, .65];          // Translation
    rpy_deg = [0, 0, 0];              // Orientation
}

imu {
    s2b = [.7071, 0, 0, .7071];
    nav_s2b = [.7071, 0, 0, .7071];
}

l2g_scanmatch {
    // No GPS image
    graph = "/home/april/magic2/config/cse-3.graph";
    graph_xyt = [ 0, 0, 0 ];
}

odometry {
    backwards = true;       // Is the robot flipped around?
    ticks2meters = 3.80e-4; //small wheels
}

robot_drive {
    repulsive_distance = 1.0;
    collision_distance = 0.2;
    repulsive_strength = 2.0; // rel to goal attraction
    attractive_distance = 1.0; // switch to parabolic
    max_speed = 1.0; // pwm
    st_gain = 0.8;  // nom speed to goal
    trn_gain = 0.8; // mapping of degrees force error to pwm
    trn_max = 0.6; // max turn pwm
    turn_discount = 0.5; //max forward speed is reduced
}
