include robot-gen.config;

// BEGIN PER-ROBOT SECTION /////////////////////////////////////////////////////////////
velodyne {
    xyz_m   = [-0.13, 0, .65];          // Translation
    rpy_deg = [0, 0, 0];              // Orientation
}

imu {
    s2b = [.7071, 0, 0, .7071];
    nav_s2b = [0.707106, 0.000904, 0.002158, 0.707103];
}

odometry {
    backwards = true;           // Is the robot flipped around?
    ticks2meters = 3.0643e-4; //big smooth wheels, big gearbox.
}

cameras{
    //indoor settings
    //urls = ["pgusb://b09d0100d927c6?fidx=2&brightness-mode=2&brightness=1.550&exposure-mode=2&exposure=0.970&gamma-mode=0&shutter-mode=2&shutter=0.016&gain-mode=2&gain=4.845&frame-rate-mode=0&frame-rate=15&pan-mode=0&tilt-mode=0&trigger-enabled=1&trigger-source=0&trigger-mode=0&trigger-software=0","pgusb://b09d0100b74889?fidx=2&brightness-mode=2&brightness=1.550&exposure-mode=2&exposure=0.970&gamma-mode=0&shutter-mode=2&shutter=0.016&gain-mode=2&gain=4.845&frame-rate-mode=0&frame-rate=15&pan-mode=0&tilt-mode=0&trigger-enabled=1&trigger-source=0&trigger-mode=0&trigger-software=0"];
    //urls = ["pgusb://b09d0100d927c6?fidx=2?frame-rate-mode=0&frame-rate=15&shutter-mode=1&exposure-mode=1&gain-mode=1&trigger-enabled=2&trigger-source=0&trigger-mode=14&trigger-software=1","pgusb://b09d0100b74889?fidx=2?frame-rate-mode=2&frame-rate=15&shutter-mode=1&exposure-mode=1&gain-mode=1&trigger-enabled=2&trigger-source=0&trigger-mode=14&trigger-software=1"];

    //outdoor settings
    urls = ["pgusb://b09d0100d927c6?fidx=2&brightness-mode=2&brightness=1.550&exposure-mode=2&exposure=1.041&gamma-mode=0&shutter-mode=2&shutter=0.0002&gain-mode=2&gain=7.038&frame-rate-mode=0&frame-rate=15&pan-mode=0&tilt-mode=0&trigger-enabled=1&trigger-source=0&trigger-mode=0&trigger-software=0","pgusb://b09d0100b74889?fidx=2&brightness-mode=2&brightness=1.550&exposure-mode=2&exposure=1.041&gamma-mode=0&shutter-mode=2&shutter=0.0002&gain-mode=2&gain=7.038&frame-rate-mode=0&frame-rate=15&pan-mode=0&tilt-mode=0&trigger-enabled=1&trigger-source=0&trigger-mode=0&trigger-software=0"];

    aprilCameraCalibration {

        // MRE:   0.564 px MSE   0.529 px MaxRE   4.787 px MaxERE        n/a

        names = [ camera0000, camera0001 ];

        camera0000 {
            class = "april.camera.models.AngularPolynomialCalibration";

            width = 648;
            height = 482;

            intrinsics {
                // focal length fx, fy
                fc = [ 525.477389, 525.383880 ];
                // focal center cx, cy
                cc = [ 331.037877, 247.117271 ];
                // polynomial approximation mapping theta to radius
                kc = [  -0.089561,  -0.041603,   0.017989,   0.041135 ];
            }
            extrinsics {
                // Global-To-Camera coordinate transformation
                position = [   0.000000,   0.000000,   0.000000 ];
                rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
            }
        }

        camera0001 {
            class = "april.camera.models.AngularPolynomialCalibration";

            width = 648;
            height = 482;

            intrinsics {
                // focal length fx, fy
                fc = [ 524.732600, 524.822274 ];
                // focal center cx, cy
                cc = [ 317.839953, 234.101405 ];
                // polynomial approximation mapping theta to radius
                kc = [  -0.019879,  -0.495678,   1.046206,  -0.717323 ];
            }
            extrinsics {
                // Global-To-Camera coordinate transformation
                position = [  -0.309882,   0.002162,  -0.001685 ];
                rollpitchyaw_degrees = [   1.346177,  -2.904053,  -0.426530 ];
            }
        }
    }
    xyz_camera0000_to_robot_center = [-0.085, 0.155, 0.53];
}

l2g_init {
    // No GPS image
    //state->l2g[0]=26.412857;state->l2g[1]=2.673038;state->l2g[2]=0.000000; //robot 7 demo2
    graph_xyt = [ 26.412857, 2.673038, 0.000000 ];
}
